.logo {
  background-image: url('@/img/logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
  margin: 0 auto;
  width: 160px;
}
